.adminLogin-section {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    margin-top: -2%;
    padding: 0;


}
.adminLogin {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin-top: 4%;
    margin-left: 13%;
    margin-right: 1%;
    color: #333; /* Dark text for better readability */
}

.adminLogin_title {
    margin-bottom: 20px;
    font-size: 2.5rem;
    padding-top: 10%;
    text-align: center;
    color: #ffffff; /* White title for contrast */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.admin-section {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 1%; */
    width: 50%;
}

.adminLogin_wrapper {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px; /* More rounded corners */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s; /* Transition for scaling effect */
}

.adminLogin_wrapper:hover {
    transform: scale(1.02); /* Slight scale on hover */
}

.adminLogin_form {
    display: flex;
    flex-direction: column;
}

.adminLogin_input {
    width: 92%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded edges */
    font-size: 1rem;
    transition: border 0.3s, box-shadow 0.3s; /* Added transition for box-shadow */
}

.adminLogin_input:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5); /* Shadow on focus */
}

.adminLogin_submit-btn {
    padding: 15px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 8px; /* Rounded edges */
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s; /* Added transition for scaling */
}

.adminLogin_submit-btn:hover {
    background-color: #1a60e3;
    transform: translateY(-2px); /* Raise button on hover */
}

.adminLogin_signup_text {
    margin-top: 20px;
    color: #333; /* Darker text for readability */
}

.adminLogin_signup-link {
    color: #2575fc;
    text-decoration: underline;
}

.adminLogin_signup-link:hover {
    color: #1a60e3;
}
