.adminLogin-section {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    padding: 20px 10px;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adminLogin {
    display: flex;
    justify-content: center;
    width: 100%;
}

.adminLogin_title {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.admin-section {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px; /* Limits the width on large screens */
}

.adminLogin_wrapper {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
    width: 100%;
}

.adminLogin_wrapper:hover {
    transform: scale(1.02);
}

.adminLogin_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminLogin_input {
    width: 80%;
    max-width: 360px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s, box-shadow 0.3s;
}

.adminLogin_input:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

.adminLogin_submit-btn {
    width: 100%;
    max-width: 360px;
    padding: 15px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

.adminLogin_submit-btn:hover {
    background-color: #1a60e3;
    transform: translateY(-2px);
}

.adminLogin_signup_text {
    margin-top: 20px;
    color: #333;
}

.adminLogin_signup-link {
    color: #2575fc;
    text-decoration: underline;
}

.adminLogin_signup-link:hover {
    color: #1a60e3;
}

.error {
    border: 1px solid red;
}

.error-text {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .adminLogin_wrapper {
        padding: 20px;
    }

    .adminLogin_title {
        font-size: 2rem;
    }

    .adminLogin_input,
    .adminLogin_submit-btn {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .adminLogin_title {
        font-size: 1.8rem;
    }

    .adminLogin_input,
    .adminLogin_submit-btn {
        font-size: 0.9rem;
    }

    .adminLogin_wrapper {
        padding: 15px;
    }
}
