.portfolio-showcase {
  padding: 60px 20px;
  background-color: #f8f8f8be;
  text-align: center;
}

.portfolio-showcase h2 {
  font-size: 2rem;
  font-family: "Alegreya", serif;
  color: #333;
  margin-bottom: 40px;
}

.showcase-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.showcase-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.showcase-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.showcase-content h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.showcase-author {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.showcase-content p {
  font-size: 1rem;
  color: #555;
}

