.blog-resources {
    padding: 60px 20px;
    /* background-color: #f5f5f58a; */
    background: linear-gradient(rgba(255, 255, 255, 0.014), rgba(255, 255, 255, 0.164), rgba(255, 255, 255, 0.217));
    text-align: center;
  }
  
  .blog-resources h2 {
    font-size: 2rem;
    font-family: "Alegreya", serif;
    color: #fff;
    margin-bottom: 40px;
  }
  
  .blog-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .blog-post {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .blog-post h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .blog-post p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .read-more {
    color: #1abc9c;
    text-decoration: none;
    font-weight: bold;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }
  