.write-story-container {
    text-align: center;
    padding: 4%;
    top: 0;
    padding-top: 0;
    position: relative;
}

.write-story-background {
    background-image: url('../../Assets/write5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.write-story-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1;
  }

.write-story-title {
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Alegreya", serif;
    margin-bottom: 20px;
    font-size: 2.8rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Black shadow */
}

.write-story-divs {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 6vh;
    gap: 40px; /* Space between the two divs */
}

.write-story-div1, .write-story-div2 {
    flex: 1;
    max-width: 45%;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
}

.plot-suggestion-box h3{
    font-weight: 500;
}

.plots {
    margin-top: 20px;
    background-color: #f3f4f6;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.genre-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 2vh;
    margin-right: 10px;
    font-size: 1.4rem;
}

.genre-dropdown {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 1vh;
    margin-right: 2vw;
}
.genre-select {
    z-index: 100000;
    /* y-index: 100000; */

}
.generate-plot-button {
    background-color: #0056d6;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.generate-plot-button:hover {
    background-color: #0042aa;
    transform: scale(1.05);
}

.story-form-heading {
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: "Alegreya", serif; */
    font-size: 1.5em;
    font-weight: 500;
    padding: 0;
    margin: 2%; 
}
/* Responsive Design */
@media (max-width: 768px) {
    .write-story-divs {
        flex-direction: column;
        align-items: center;
    }

    .write-story-div1, .write-story-div2 {
        max-width: 100%;
    }
}
