.SignUp {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 0 2vw;
}

.signup_parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_signup {
    width: 90%; 
    max-width: 60%;
    box-shadow: 0px 5px 33px -21px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    flex-wrap: wrap; 
}

.signup_title {
    text-align: center;
    font-size: 2rem; 
    padding: 0 2vw;
}

.left_signup,
.right_signup {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vw;
}

.signup_pic {
    height: auto;
    width: 100%; /* Scale image dynamically */
}

.signup_pic img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.right_signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
    margin-left: -4vw;
    flex: 1;
    width: 100%; /* Ensures proper adjustment for smaller screens */
}

label {
    font-size: 16px;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-size: 1.4vh;
}

.input_signup {
    width: 100%;
    padding: 1.6vh 0;
    border: none;
    border-bottom: 2px solid #ccc;
    margin: 0;
    transition: all 0.3s ease;
}

.input_signup:hover {
    border-bottom-color: #4c74af;
}

.input_signup:focus {
    border-color: #2196F3;
}

.input_signup::placeholder {
    color: #A9A9A9;
    font-style: italic;
}

.profile-pic-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.submit-btn2 {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 4%;
    height: 6vh;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
}

.submit-btn2:focus {
    outline: none;
}

.color-blue2 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.color-blue2:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.signup-lastLine {
    margin-top: 4vh;
    text-align: center;
}

.custom-upload-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5em 1em;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.upload-icon {
    margin-right: 0.5em;
}

/* Media Queries */
@media (max-width: 768px) {
    .wrapper_signup {
        width: 60%;
        max-width: 80%;
        /* margin-top: 2%; */
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .signup_title {
        margin-top: 10%;
        margin-bottom: 2%;
        font-size: 1.8rem; /* Adjust font size for smaller screens */
    }
    .right_signup{
        margin: 0;
        font-size: 1.2rem;
    }

    .input_signup {
        font-size: 1.1rem;
    }

    .signup_pic {
        width: 80%;
        margin: auto;
        display: none;
        /* visibility: hidden; */
    }

    .right_signup {
        width: 90%;
        padding: 2vw;
    }

    .submit-btn2 {
        height: 5vh;
        font-size: 1rem;
    }

    .signup-lastLine {
        margin-top: 3vh;
    }
}

@media (max-width: 480px) {
    .wrapper_signup {
        width: 100%;
        /* margin: 0; */
    }
    .signup_title {
        font-size: 1.4rem;
        /* margin-top: -60%; */
    }

    .input_signup {
        padding: 1.4vh 0.8vw;
        margin-left: 4%;
        margin-right: 4%;
    }

    .right_signup {
        font-size: 1rem;
    }

    .upload-icon {
        font-size: 0.8rem;
        padding: auto;
    }

    .submit-btn2 {
        height: 4.5vh;
        font-size: 0.9rem;
    }
}
